.geToolbarContainer, .geDialog, .geEditor *:not(button):not(h3):not(select):not(.vpActionsPanel):not(.geDialogTitle):not(.selectGoogleCloudPlatformUserAndDeviceInputShapeItem), .geMenubarMenu *, .mxPopupMenu * { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
table.mxPopupMenu hr { margin-top: 0; margin-bottom: 0; }

.geSidebarTooltip * { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.geStyleButton { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.geBtn { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.modal-dialog * { -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important; }

.suggestPopupContent table { width: 100%; }



/* Below restore to default after overridden by online-client js */
.geEditor h3 {
    font-size: 1.17em;
    font-weight: bold;
}

.geEditor label {
    margin-bottom: 0;
}

.geEditor img {
    vertical-align: baseline;
}

.geDialog h3 {
    line-height: 1em;
}
